:root {
  /* Primary */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* Secondary */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* CSS Reset */
/* -------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Styling */
/* -------------- */
body {
  font-family: "Bai Jamjuree", sans-serif;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.522px;
  color: var(--Dark-Grayish-Blue);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.391px;
  color: var(--Dark-Grayish-Blue);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.12px;
  color: var(--Grayish-Blue);
}

a {
  text-decoration: none;
}

.primary-h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.457px;
}

.footer__links a {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.135px;
}

.body__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

/* ----------------- */

/* Header (MOBILE) */
/* -------------- */
.logo__wrapper-mobile {
  display: flex;
  justify-content: center;
  padding: 7.688rem 7.813rem 3.75rem;
  background: linear-gradient(180deg, #fff -65.65%, rgba(255, 255, 255, 0) 100%);
}

.logo__wrapper-mobile a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 363px;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-position: center;
}

/* Hero (MOBILE) */
/* -------------- */
.hero__wrapper-mobile p {
  margin-top: 1rem;
}

/* Hero > Button (MOBILE) */
/* -------------- */
.button {
  border-radius: 28px;
  background: var(--Strong-Cyan);
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
  padding: 0.813rem 3rem;
}

.button a {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.12px;
  color: #fff;
}

.button-bg-color {
  background: var(--Light-Blue);
}

.button:nth-of-type(1) {
  margin-top: 3rem;
}

.button:nth-of-type(2) {
  margin-top: 1.5rem;
}

/* Storage details (MOBILE) */
/* -------------- */
.storage__wrapper {
  margin-top: 10rem;
}

.storage__wrapper p {
  margin-top: 1rem;
}

/* Benefit using Clipboard (MOBILE) */
/* -------------- */
.benefit__wrapper {
  display: grid;
  gap: 3rem;
  margin-top: 4rem;
}

.benefit__wrapper-text-group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Devices (MOBILE) */
/* -------------- */
.devices__wrapper {
  margin-top: 11.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devices__wrapper img {
  margin-top: 4rem;
}

.devices__wrapper-text p {
  margin-top: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.135px;
}

/* Workflow (MOBILE) */
.workflow__wrapper-text h2 {
  margin-top: 8.125rem;
}

.workflow__wrapper-text p {
  margin-top: 0.688rem;
}

.benefit__group {
  margin-top: 8.25rem;
}

.benefit__group:nth-of-type(1) {
  margin-top: 10.625rem;
}

.benefit__group h2 {
  position: relative;
}

.benefit__group p {
  margin-top: 1.1rem;
}

.benefit__group h2::before {
  content: "";
  position: absolute;
  bottom: 74px;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 40px;
  background-image: url(/images/icon-blacklist.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefit__group:nth-of-type(2) h2::before {
  width: 36px;
  height: 32px;
  background-image: url(/images/icon-text.svg);
}

.benefit__group:nth-of-type(3) h2::before {
  width: 49.612px;
  height: 31.893px;
  background-image: url(/images/icon-preview.svg);
}

/* Sponsors (MOBILE) */
/* -------------- */
.sponsor__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 57px;
  margin-top: 8.225rem;
}

/* Apple (MOBILE) */
/* -------------- */
.apple__wrapper {
  margin-top: 10.625rem;
}

.apple__wrapper-text p {
  margin-top: 1.1rem;
}

/* Footer (MOBILE) */
/* -------------- */
.footer__container {
  background-color: rgba(158, 171, 178, 0.1002);
}

.footer__wrapper {
  margin-top: 10.65rem;
}

.footer__wrapper img {
  padding: 3.25rem 10.313rem 2.5rem;
}

.page__links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.page__links ul li a {
  color: var(--Dark-Grayish-Blue);
}

.social__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.141rem 6.938rem 3.188rem;
}

/* Media Query (TABLET) */
/* -------------- */
@media screen and (min-width: 817px) {
  /* Header (DESKTOP) */
  .logo__wrapper-mobile a::after {
    background-image: url(/images/bg-header-desktop.png);
  }

  /* Hero > Button (TABLET) */
  .button__wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .button:nth-of-type(2) {
    margin-top: 3rem;
  }

  .storage__wrapper {
    padding: 0 10rem;
  }

  /* Benefit using Clipboard (TABLET) */
  .benefit__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    margin-left: -29px;
  }

  .benefit__wrapper-text-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 350px;
    margin-left: 5rem;
  }

  .benefit__wrapper-text {
    margin-top: 66px;
  }

  .benefit__wrapper-text h2 {
    font-size: 1.5rem;
    letter-spacing: -0.391px;
  }

  .benefit__wrapper-text p {
    margin-top: 8px;
  }

  .benefit__wrapper-text:nth-of-type(2),
  .benefit__wrapper-text:nth-of-type(3) {
    margin-top: 23px;
  }

  /* Benefit (TABLET) */
  .workflow__wrapper-benefit {
    display: flex;
    justify-content: center;
    padding: 0 165px;
    gap: 30px;
    margin-top: 1rem;
  }

  .benefit__group:nth-of-type(1) {
    margin-top: 8.275rem;
  }
}

/* Media Query (DESKTOP) */
/* -------------- */
@media screen and (min-width: 1291px) {
  .body__wrapper {
    padding: 0;
  }

  .primary-h2 {
    font-size: 2.25rem;
    letter-spacing: -0.587px;
  }

  /* Hero (DESKTOP) */
  .hero__wrapper-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__wrapper-mobile p {
    font-size: 1.25rem;
    letter-spacing: 0.15px;
    width: 730px;
  }

  .hero__wrapper-mobile h1 {
    font-size: 2.875rem;
    letter-spacing: -0.75px;
  }

  /* Storage details (DESKTOP) */
  .storage__wrapper {
    padding: 0 22.5rem;
    margin-top: 9.3rem;
  }

  .storage__wrapper p {
    font-size: 1.1rem;
    letter-spacing: 0.135px;
    margin-top: 1.1rem;
  }

  /* Devices (DESKTOP) */
  .devices__wrapper-text p {
    width: 730px;
  }

  .devices__wrapper img {
    margin-top: 6.9rem;
  }

  /* Workflow (DESKTOP) */
  .workflow__wrapper-text p {
    font-size: 1.1rem;
    letter-spacing: 0.135px;
    margin-top: 1.1rem;
  }

  /* Benefit (DESKTOP) */
  .benefit__group p {
    width: 350px;
  }
}
