:root {
  /* Primary */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* Secondary */
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* CSS Reset */
/* -------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Styling */
/* -------------- */
body {
  font-family: "Bai Jamjuree", sans-serif;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.522px;
  color: var(--Dark-Grayish-Blue);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.391px;
  color: var(--Dark-Grayish-Blue);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.12px;
  color: var(--Grayish-Blue);
}

a {
  text-decoration: none;
}

.primary-h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.457px;
}

.footer__links a {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.135px;
}

.body__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

/* ----------------- */

/* Header (MOBILE) */
/* -------------- */
.logo__wrapper-mobile {
  display: flex;
  justify-content: center;
  padding: 7.688rem 7.813rem 3.75rem;
  background: linear-gradient(180deg, #fff -65.65%, rgba(255, 255, 255, 0) 100%);
}

.logo__wrapper-mobile a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 363px;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-position: center;
}

/* Hero (MOBILE) */
/* -------------- */
.hero__wrapper-mobile p {
  margin-top: 1rem;
}

/* Hero > Button (MOBILE) */
/* -------------- */
.button {
  border-radius: 28px;
  background: var(--Strong-Cyan);
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
  padding: 0.813rem 3rem;
}

.button a {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.12px;
  color: #fff;
}

.button-bg-color {
  background: var(--Light-Blue);
}

.button:nth-of-type(1) {
  margin-top: 3rem;
}

.button:nth-of-type(2) {
  margin-top: 1.5rem;
}

/* Storage details (MOBILE) */
/* -------------- */
/* Placeholder */
.storage__wrapper {
  margin-top: 10rem;
}

.storage__wrapper p {
  margin-top: 1rem;
}

/* Benefit using Clipboard (MOBILE) */
/* -------------- */
.benefit__wrapper {
  display: grid;
  gap: 3rem;
  margin-top: 4rem;
}

.benefit__wrapper-text-group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Devices (MOBILE) */
/* -------------- */
.devices__wrapper {
  margin-top: 11.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devices__wrapper img {
  margin-top: 4rem;
}

.devices__wrapper-text p {
  margin-top: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.135px;
}

/* Footer (MOBILE) */
/* -------------- */

/* Media Query (TABLET) */
/* -------------- */
@media screen and (min-width: 920px) {
  /* Header (DESKTOP) */
  .logo__wrapper-mobile a::after {
    background-image: url(/images/bg-header-desktop.png);
  }

  /* Hero > Button (TABLET) */
  .button__wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .button:nth-of-type(2) {
    margin-top: 3rem;
  }

  .storage__wrapper {
    padding: 0 10rem;
  }

  /* Benefit using Clipboard (DESKTOP) */
  .benefit__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    margin-left: -29px;
  }

  .benefit__wrapper img {
    grid-column: 1;
  }

  .benefit__wrapper-text-group {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 350px;
    margin-left: 5rem;
  }

  .benefit__wrapper-text {
    margin-top: 66px;
  }

  .benefit__wrapper-text h2 {
    font-size: 1.5rem;
    letter-spacing: -0.391px;
  }

  .benefit__wrapper-text p {
    margin-top: 8px;
  }

  .benefit__wrapper-text:nth-of-type(2),
  .benefit__wrapper-text:nth-of-type(3) {
    margin-top: 23px;
  }
}

/* Media Query (DESKTOP) */
/* -------------- */
@media screen and (min-width: 1291px) {
  .body__wrapper {
    padding: 0;
  }

  h2 {
    font-size: 2.25rem;
    letter-spacing: -0.587px;
  }

  /* Hero (DESKTOP) */
  .hero__wrapper-mobile p {
    font-size: 1.25rem;
    letter-spacing: 0.15px;
  }

  .hero__wrapper-mobile h1 {
    font-size: 2.875rem;
    letter-spacing: -0.75px;
  }

  /* Storage details (DESKTOP) */
  .storage__wrapper {
    padding: 0 22.5rem;
    margin-top: 9.3rem;
  }

  .storage__wrapper p {
    font-size: 1.1rem;
    letter-spacing: 0.135px;
    margin-top: 1.1rem;
  }
}
